---
import "photoswipe/style.css";
---

<section>
  <div class="relative mx-auto max-w-5xl text-center pt-48">
    <h2 class="text-white font-medium text-transparent text-5xl md:text-6xl">
      Landing Pages
    </h2>
    <p
      class="mx-auto my-4 w-full max-w-xl bg-transparent text-center font-medium leading-relaxed tracking-wide text-white"
    >
    </p>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-3 w-2/3 md:max-w-6xl gap-6 mx-auto py-20"
    id="gallery"
  >
    {
      Array.from({ length: 9 }).map((_, i) => (
        <a
          class="rounded-xl shadow-xl shadow-sky-300/10 hover:shadow-2xl hover:shadow-sky-300/75  overflow-hidden hover:scale-105 transition-transform"
          href={`/public/img-${i + 1}.png`}
          target="_blank"
          data-pswp-width="1000 "
          data-pswp-height="669"
        >
          <img src={`/public/img-${i + 1}.png`} alt="" />
        </a>
      ))
    }
  </div>
</section>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  // const options = {
  //   gallery: "#gallery",
  //   children: "a",
  //   showHideAnimationType: "fade",
  //   pswpModule: () => import("photoswipe"),
  // };
  // const lightbox = new PhotoSwipeLightbox(options);
  lightbox.init();
</script>
