---
import AliporiIcon from "../icons/AliporiIcon.astro";
import Linkedin from "../icons/LinkedinIcon.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md bg-white/5 border-b border-white/10 shadow-2xl py-3 backdrop-blur-xl md:top-6 md:rounded-3xl lg:max-w-screen-lg transition-all duration-300 hover:bg-white/10"
>
  <div class="px-4">
    <div class="flex items-center justify-between">
      <!-- Logo con efecto hover -->
      <a href="/" class="group flex items-center gap-2">
        <AliporiIcon
          class="h-14 w-14 md:h-12 md:w-12 transition-transform group-hover:scale-110 fill-white"
        />
        <span class="text-xl font-bold bg-clip-text text-white">
          Pori Labs
        </span>
      </a>

      <!-- Nav Items -->
      <nav class="hidden md:flex items-center gap-8">
        <a
          href="/index.html"
          class="relative text-sm font-medium text-white/90 hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar1")}</span>
        </a>
        <a
          href="/#services"
          class="relative text-sm font-medium text-white/90 hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar2")}</span>
        </a>
        <a
          href="/#contact"
          class="relative text-sm font-medium text-white/90 hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar3")}</span>
        </a>
        <a
          href="/projects"
          class="relative text-sm font-medium text-white/90 hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar4")}</span>
        </a>
      </nav>

      <!-- Redes Sociales -->
      <div class="flex items-center gap-4">
        <a
          href="https://www.linkedin.com/in/alex-dominguez-esparza/"
          target="_blank"
          class="p-2 hover:bg-white/10 rounded-full transition-colors"
        >
          <Linkedin
            class="w-6 h-6 fill-white hover:fill-blue-500 transition-colors"
          />
          <span class="sr-only">LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</header>

<style>
  .hover-underline-animation {
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(45deg, #6a93cf, #3b82f6);
    transition: width 0.3s ease-out;
  }

  .hover-underline-animation:hover::after {
    width: 100%;
  }
</style>
