---
import AliporiIcon from "../icons/AliporiIcon.astro";
import Linkedin from "../icons/LinkedinIcon.astro";
---

<header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md bg-white/0 shadow-lg py-3 backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg"
>
  <div class="px-4">
    <div class="place-items-center md:flex items-center md:justify-between">
      <div class="flex shrink-0">
        <a aria-current="page" class="flex items-center" href="/">
          <AliporiIcon class="h-16 md:h-12 w-auto fill-white" />
          <p class="sr-only">Alipori</p>
        </a>
      </div>
      <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
        <a
          aria-current="page"
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-white transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#">Home</a
        >
        <a
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-white transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#">Projects</a
        >
        <a
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-white transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#">Contact me</a
        >
      </div>
      <div class="flex items-center justify-end gap-3"></div>
    </div>
  </div>
</header>
