---
import AliporiIcon from "../icons/AliporiIcon.astro";
import Linkedin from "../icons/LinkedinIcon.astro";
import HamburgerIcon from "../icons/Hamburger.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
---

<header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md bg-white/5 border-b border-white/10 shadow-2xl py-3 backdrop-blur-xl md:top-6 md:rounded-3xl lg:max-w-screen-lg transition-all duration-300 hover:bg-white/10"
>
  <div class="px-4">
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a href={translatedPath("/")} class="group flex items-center gap-2">
        <AliporiIcon
          class="h-14 w-14 md:h-12 md:w-12 transition-transform group-hover:scale-110 fill-white"
        />
        <span class="text-xl font-bold bg-clip-text text-white">Pori Labs</span>
      </a>

      <!-- Navegación principal -->
      <nav class="hidden md:flex items-center gap-8">
        <a
          href={translatedPath("/")}
          class="relative text-sm font-bold text-white hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar1")}</span>
        </a>
        <a
          href={translatedPath("/#services")}
          class="relative text-sm font-bold text-white hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar2")}</span>
        </a>
        <a
          href={translatedPath("/#contact")}
          class="relative text-sm font-bold text-white hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar3")}</span>
        </a>
        <a
          href="./projects"
          class="relative text-sm font-bold text-white hover:text-blue-500 transition-colors duration-300"
        >
          <span class="hover-underline-animation">{t("navbar4")}</span>
        </a>
      </nav>

      <!-- Contenedor de elementos derechos -->
      <div class="flex items-center gap-4">
        <!-- Selector de idiomas -->
        <div class="relative group">
          <button class="p-2 hover:bg-white/10 rounded-full transition-colors">
            <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg
              width="30px"
              height="30px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.58 19.37L17.59 11.01C17.38 10.46 16.91 10.12 16.37 10.12C15.83 10.12 15.37 10.46 15.14 11.03L12.16 19.37C12.02 19.76 12.22 20.19 12.61 20.33C13 20.47 13.43 20.27 13.57 19.88L14.19 18.15H18.54L19.16 19.88C19.27 20.19 19.56 20.38 19.87 20.38C19.95 20.38 20.04 20.37 20.12 20.34C20.51 20.2 20.71 19.77 20.57 19.38L20.58 19.37ZM14.74 16.64L16.38 12.05L18.02 16.64H14.74ZM12.19 7.85C9.92999 11.42 7.89 13.58 5.41 15.02C5.29 15.09 5.16 15.12 5.04 15.12C4.78 15.12 4.53 14.99 4.39 14.75C4.18 14.39 4.3 13.93 4.66 13.73C6.75999 12.51 8.48 10.76 10.41 7.86H4.12C3.71 7.86 3.37 7.52 3.37 7.11C3.37 6.7 3.71 6.36 4.12 6.36H7.87V4.38C7.87 3.97 8.21 3.63 8.62 3.63C9.02999 3.63 9.37 3.97 9.37 4.38V6.36H13.12C13.53 6.36 13.87 6.7 13.87 7.11C13.87 7.52 13.53 7.86 13.12 7.86H12.18L12.19 7.85ZM12.23 15.12C12.1 15.12 11.97 15.09 11.85 15.02C11.2 14.64 10.57 14.22 9.97999 13.78C9.64999 13.53 9.58 13.06 9.83 12.73C10.08 12.4 10.55 12.33 10.88 12.58C11.42 12.99 12.01 13.37 12.61 13.72C12.97 13.93 13.09 14.39 12.88 14.75C12.74 14.99 12.49 15.12 12.23 15.12Z"
                fill="#FFFF"></path>
            </svg>
          </button>

          <!-- Dropdown de idiomas -->
          <div
            class="absolute top-full right-0 mt-2 w-36 bg-white/5 backdrop-blur-lg border border-white/10 rounded-lg py-2 invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-200 shadow-xl z-50"
          >
            {
              Object.entries(languages).map(([code, label]) => (
                <a
                  href={translatedPath(Astro.url.pathname, code)}
                  class={`flex items-center px-4 py-2 text-sm gap-2 ${
                    code === lang
                      ? "bg-white/10 text-blue-400"
                      : "text-white/80 hover:bg-white/5"
                  }`}
                >
                  <span class="text-xs uppercase">{code}</span>
                  <span class="flex-1">{label}</span>
                </a>
              ))
            }
          </div>
        </div>

        <!-- Icono de LinkedIn -->
        <button
          class="md:hidden p-2 hover:bg-white/10 shadow-2xl rounded-full"
          id="menu-toggle"
          aria-label="Abrir menú"
        >
          <HamburgerIcon class="w-6 h-6 fill-white" />
        </button>
      </div>
    </div>
  </div>
  <div
    id="mobile-menu"
    class="md:hidden fixed top-20 inset-x-0 bg-black/80 backdrop-blur-xl border-white/10 py-4 hidden z-40"
  >
    <nav class="flex flex-col items-center gap-6">
      <a
        href={translatedPath("/")}
        class="text-sm font-medium text-white/90 hover:text-blue-500"
      >
        {t("navbar1")}
      </a>
      <a
        href={translatedPath("/#services")}
        class="text-sm font-medium text-white/90 hover:text-blue-500"
      >
        {t("navbar2")}
      </a>
      <a
        href={translatedPath("/#contact")}
        class="text-sm font-medium text-white/90 hover:text-blue-500"
      >
        {t("navbar3")}
      </a>
      <a
        href="./projects"
        class="text-sm font-medium text-white/90 hover:text-blue-500"
      >
        {t("navbar4")}
      </a>
    </nav>
  </div>
</header>

<style>
  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(45deg, #6a93cf, #3b82f6);
    transition: width 0.3s ease-out;
  }
  .hover-underline-animation:hover::after {
    width: 100%;
  }
</style>

<script client:load>
  // Delegamos el evento click en el documento
  document.addEventListener("click", (event) => {
    const menuToggle = event.target.closest("#menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    // Si se hizo clic en el botón de hamburguesa, alterna el menú
    if (menuToggle) {
      mobileMenu.classList.toggle("hidden");
    }

    // Si se hizo clic en un enlace dentro del menú móvil, ciérralo
    if (event.target.closest("#mobile-menu a")) {
      mobileMenu.classList.add("hidden");
    }
  });
</script>
