---
import LandingIcon from "../icons/landingIcon.astro";
import CelIcon from "../icons/celIcon.astro";
import BrandIcon from "../icons/BrandIcon.astro";
---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 text-white"
>
  <div
    class="text-center max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12"
  >
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <span
          class="relative bg-gradient-to-b from-white to-gray-400 bg-clip-text font-medium text-transparent text-5xl md:text-6xl"
          >Services</span
        >
      </span>
    </h2>
    <p class="text-base text-white md:text-lg">
      Transforming Ideas into Landing Pages, Visual Designs, and Brands
    </p>
  </div>

  <div
    class="grid max-w-md gap-8 row-gap-10 sm:mx-auto lg:max-w-full lg:grid-cols-3"
  >
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full"
        >
          <!-- <svg
            class="w-12 h-12 text-white"
            stroke="currentColor"
            viewBox="0 0 52 52"
          >
            <polygon
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
              fill="none"
              points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg> -->
          <LandingIcon class="w-12 h-12 text-white fill-white" />
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">Website Development:</h6>
        <p class="mb-3 text-sm">
          I transform your ideas into effective, optimized landing pages
          designed to capture attention and convert visitors into customers.
        </p>
        <ul class="mb-4 -ml-1 space-y-2">
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Custom Designs
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Responsive & Optimized
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Conversion Focused
          </li>
        </ul>
        <!-- <a
          href="/"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-purple-800 hover:text-purple-950"
          >Learn more
        </a> -->
      </div>
    </div>

    <!-- card 2 -->
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full"
        >
          <!-- <svg
            class="w-12 h-12 text-white"
            stroke="currentColor"
            viewBox="0 0 52 52"
          >
            <polygon
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
              fill="none"
              points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg> -->
          <CelIcon />
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">UI/UX Design</h6>
        <p class="mb-3 text-sm">
          Crafting engaging and seamless user experiences through detailed UI/UX
          design, using Figma to bring your ideas to life with precision and
          creativity.
        </p>
        <ul class="mb-4 -ml-1 space-y-2">
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            User-Centered Designs
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Prototyping & Testing
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Pixel-Perfect Precision
          </li>
        </ul>
        <!-- <a
          href="/"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-purple-800 hover:text-purple-950"
          >Learn more
        </a> -->
      </div>
    </div>

    <!-- card 3 -->

    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full"
        >
          <BrandIcon />
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">Branding</h6>
        <p class="mb-3 text-sm">
          Developing strong brand identities that resonate with your audience,
          from logo design to complete brand guidelines, ensuring consistency
          across all platforms.
        </p>
        <ul class="mb-4 -ml-1 space-y-2">
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Logo Design & Visual Identity
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Brand Guidelines
          </li>
          <li class="flex items-start">
            <span class="mr-1">
              <svg
                class="w-5 h-5 mt-px text-purple-800"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </span>
            Reference
          </li>
        </ul>
        <!-- <a
          href="/"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-purple-800 hover:text-purple-950"
          >Learn more
        </a> -->
      </div>
    </div>
  </div>
</div>
