---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "../i18n/utils";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
interface Props {
  title: String;
}
const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="md:px-32 lg:px-52">
    <div id="page-background"></div>
    <Navbar />
    <slot />
    <Footer />
    <script src="../js/main"></script>
  </body><style>
    :root {
      --white: #ffffff;
      --text-muted: rgba(255, 255, 255, 0.8);
      --text-body: rgba(175, 190, 255, 1);
    }

    html,
    body {
      margin: 0;
      width: 100%;
      min-height: 100%;
      font-family: "Poppins", sans-serif;
      background: transparent;
      color: var(--text-body);
    }

    #page-background {
      position: fixed;
      inset: 0;
      z-index: -1;
      background: linear-gradient(
        180deg,
        rgb(21, 38, 113) 10%,
        rgb(27, 44, 120) 30%,
        #5669bd 100%
      );
    }
  </style>
</html>
