---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";
interface Props {
  title: String;
}
const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Pori Labs</title>
  </head>
  <body class="bg-[#070713]">
    <!-- Fondo con bola -->
    <div class="fixed inset-0 -z-10">
      <div
        class="absolute inset-0 m-auto h-[500px] w-[700px] rounded-full bg-[rgba(26,39,181,1)] opacity-90 blur-[100px]"
      >
      </div>
    </div>
  </body>
  <Navbar />
  <slot />
  <Footer />

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: "JetBrains Mono", serif;
    }
  </style>
</html>
